.bar {
  height: 100vh;
  background: linear-gradient(180deg, #841919, #aa1d1d, #c62020);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sidebar-input {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 180px;
  outline: none;
  color: white;
}

.sidebar-input::placeholder {
  color: #eee;
}

.divider {
  margin: 15px 0;
}
